@import "_variables.sass"

@media screen and (max-width: 320px) 
  .header__nav 
    display: none
  
  .header__nav--mobile 
    display: block
    font-size: 70px
    color: $color-ca
    text-decoration: none
  
  #bottom__menu 
    display: block
    width: 80%
    height: 100
  
  .header__logo 
    width: 70px
    height: 70px
  
  .header__nav--mobile:hover 
    cursor: pointer
  
  .main__info 
    width: 100%
    overflow: hidden
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 200px 300px
    grid-template-areas: "main__data" "main__img"
  
  .main__data 
    width: 100%
    height: 100%
    grid-area: main__data
    overflow: hidden
    background-color: $color-1e
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  
  .data__title 
    font-size: 2.5rem
  
  .data__work 
    font-size: 1.6rem
  
  .data__description 
    margin-top: 4px
  
  .main__img 
    width: 100%
    height: 100%
    grid-area: main__img
    overflow: hidden
  
  .main__posts 
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
  
  .posts__container 
    display: grid
    grid-template-columns: repeat(1, 100%)
    grid-template-rows: repeat(4, 150px)
    grid-template-areas:"post_1""post_2""post_3""post_4"
    gap: 10px
  
  .post 
    width: 90%
    height: 150px
  
  .post__1 
    grid-area: post_1
  
  .post__2 
    grid-area: post_2
  
  .post__3 
    grid-area: post_3
  
  .post__4 
    grid-area: post_4
  
  .post 
    padding: 0.5rem
    overflow: scroll
  
  .post__date 
    font-size: 0.6rem
  
  .post__title 
    font-size: 0.8rem
    margin: 0
    margin-top: 0.4rem
    padding: 0
  
  .post__parargraph 
    font-size: 0.6rem
    text-align: left
  
  .footer 
    margin-top: 0.5rem
  
  .footer__title 
    font-size: 0.8rem
  
  .form__label 
    margin-top: 0
    margin-left: 6.2rem
    font-size: 0.5rem
  
  .form__input 
    width: 300px
  
  .form__input--submit 
    width: 300px
  
  .blog__posts 
    overflow: hidden
  
  .post__list 
    width: 300px
  
  .post__item 
    height: 300px
    overflow: scroll
  
  .post__title 
    font-size: 1.4rem
    margin-top: 2rem
    margin-bottom: 0.5rem
  
  .post__paragraph 
    font-size: 0.7rem
  
  .sobre-mi__container 
    display: flex
  
  .sobre-mi__title 
    font-size: 2rem
  
  .sobre-mi__work 
    font-size: 1.2rem
  
  .sobre-mi__description 
    font-size: 0.6rem
  
  .sobre-mi__img 
    display: none
  
  .galeria__title 
    font-size: 1.4rem
  
  .galeria__container 
    width: 100%
    overflow: hidden
  
  .projects 
    margin-left: 30px
    display: grid
    grid-template-columns: repeat(1, 300px)
    grid-template-rows: repeat(9, 300px)
  
  .project 
    margin-right: 40px
  
  .project__img 
    width: 300px
    height: 250px
  
  .form__title,
  .map__title 
    font-size: 1.2rem
  
  .map 
    height: 300px