@import "_variables.sass"

@media screen and (max-width: 390px)
  .header__nav
    border-radius: 0
  
  .header__nav--mobile 
    display: block
    font-size: 70px
    color: $color-ca
    text-decoration: none
  
  .header__logo 
    width: 70px
    height: 70px
  
  .header__nav--mobile:hover 
    cursor: pointer
  
  .nav__list
    display: flex
    flex-direction: column
  
  #lateral
    top: 0
    left: -100%
    z-index: 100
    position: fixed
    display: block
    width: 100%
    height: 100vh
    transition: all 800ms
    &:target
      left: 0
  
  a[href="#lateral"]
    display: block

  .active
    color: $color-ca
    font-style: italic
  
  .close
    display: block
    transition: all 300ms
    &:hover
      color: $color-ca
    &__link
      text-decoration: none
      color: white
      font-size: 2rem

  .main__info 
    width: 100%
    overflow: hidden
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 200px 300px
    grid-template-areas: 'main__data' 'main__img'
  
  .main__data 
    width: 100%
    height: 100%
    grid-area: main__data
    overflow: hidden
    background-color: $color-1e
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  
  .data__title 
    font-size: 2.5rem
  
  .data__work 
    font-size: 1.6rem
  
  .data__description 
    margin-top: 4px
  
  .main__img 
    width: 100%
    height: 100%
    grid-area: main__img
    overflow: hidden
  
  .posts__title
    text-align: center
    font-size: 2rem
  
  .main__posts 
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
  
  .post 
    padding: 0.5rem
    overflow: scroll
    width: 100%
  
  .post__date 
    font-size: 0.6rem
  
  .post__title 
    font-size: 0.8rem
    margin: 0
    margin-top: 0.4rem
    padding: 0
  
  .post__parargraph 
    font-size: 0.9rem
    text-align: left
  .footer
    margin-top: 0.5rem
  
  .footer__title 
    font-size: 0.8rem
  
  .form__label
    margin-top: 0
    margin-left: 6.2rem
    font-size: 0.5rem
  
  .form__input 
    width: 300px
  
  .form__input--submit 
    width: 300px
  
  .blog__posts 
    overflow: hidden
  
  .post__list 
    width: 100%
    display: flex
    justify-content: center
    align-content: center
  
  .post__item 
    height: 300px
    overflow: scroll
  
  .post__title 
    font-size: 1.4rem
    margin-top: 2rem
    margin-bottom: 0.5rem
  
  .post__paragraph 
    font-size: 0.9rem

  .sobre-mi
    &__info
      text-align: center
    &__container 
      display: flex
      flex-direction: column
    &__title 
      font-size: 2rem
    &__work 
      font-size: 1.2rem
    &__description
      font-size: 0.9rem
      line-height: 30px
      text-align: left
    &__img 
      display: none
  
  .galeria__title 
    font-size: 1.4rem
  
  .galeria__container 
    width: 100%
    overflow: hidden
  
  .projects 
    margin: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  
  .project
    width: 90%
    &__info
      margin-top: 12rem
      align-items: center
  
  .project__img 
    width: 300px
    height: 250px
  
  .contact__title
    font-size: 3rem
    margin-bottom: 2rem
  
  .form__title,
  .map__title 
    font-size: 1.2rem
  
  .map 
    height: 300px

@media screen and (max-width: 1025px) and (min-width: 391px)
  .post
    width: 46%
  .post__item
    height: 300px
    overflow: scroll
    margin: 0 auto
    margin-top: 10px
    margin-bottom: 10px
  .sobre-mi
    &__container
      display: flex
      flex-direction: column
    &__info
      text-align: center
      height: auto
      min-height: 450px
    &__img
      overflow: hidden
  .projects
    margin: 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
  .project
    width: 45%
    &--9
      width: 95%
